.pls{
    display:flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
}

.sides {
    display:flex;
    justify-content: space-between;
    width: 100%;
    align-items: center; 
}